a[target]{
    text-decoration: none;
    color: red;
}
a[target="_self"]{
    color: plum;
}
a[title~='Prasun']{
    color: aqua;
    font-weight: bold;
    font-size: 20px;
}
a[title~='B']{
    color: purple;
    font-weight: normal;
    font-size: 30px;
}
div[class|='child']{
    width: 300px;
    height: 200px;
    background: #8c7ae6;
}
div[class^='child']{
    width: 300px;
    height: 200px;
    background: #e1b12c;
    margin-bottom: 5px;
}
div[class$="ial"]{
    background: #8c7ae6;
}
div[class*="erv"]{
    background: crimson;
}