*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: #f949f9;
    /* background: blue; */
    text-align: center;
}
p{
    margin-bottom: 20px;
}
/* Text Align Last */
.one{
    text-align: center;
    text-align-last: left;
}
/* Text Align */
.two{
    text-align: center;
}
/* Direction */
.three{
    direction: rtl;
    unicode-bidi: bidi-override;
}
.baseline{
    vertical-align: baseline;
}
.text-top{
    vertical-align: text-top;
}
.text-bottom{
    vertical-align: text-bottom;
}
.sub{
    vertical-align: sub;
}
.super{
    vertical-align: super;
}
a{
    text-decoration: underline;
}
h2{
    text-transform: uppercase;
    letter-spacing: 20px;
    /* text-shadow: 0px 0px 10px rgb(84, 144, 148); */
    text-shadow: 0px 5px 5px #8d7b7b;
    margin-bottom: 10px;
}
p{
    text-indent: 50px;
    font-size: 15px;
    /* line-height: 18px; */
    white-space: break-spaces;
    word-spacing: 5px;
}