body{
    margin: 0;
}
.parent{
    margin-top: 10px;
    margin-left: 10px;
}
.child{
    background: #b33939;
    width: 50px;
    padding-top: 10px;
    height: 38px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}
.child p{
    margin: 0;
    padding: 0;
    color: #fff;
}


/* nth Child */
/* .child:first-child{
    background: #474787;
}
.child:last-child{
    background: #474787;
}
.child:nth-child(3){
    background: #cc8e35;
}
.child:nth-last-child(2){
    background: #40739e;
}
.child:nth-last-child(4){
    background: #2e86de;
} */
.child:nth-child(odd){
    background: #474787;
}
.child:nth-child(even){
    background: #40739e;
}