/* 
h1=> Selector
clor=> Property
red=> Value 
*/


h1{
    color: darkblue;  /* => Declaration */
    font-size: 60px;  /* => Declaration */
}
p{
    color: rgb(250, 250, 250);
    background-color: slateblue;
    font-size: 20px;
    padding: 15px;
}