*{
    margin: 0;
    padding: 0;
}
img{
    width: 40px;
    height: 40px;
    /* background: #0866FF; */
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
}
.fa-facebook{
    color: #0866FF;
    background: #ffffff;
    padding: 15px;
    font-size: 50px;
}
.fa-x-twitter{
    color: #000000;
    background: #ffffff;
    padding: 15px;
    font-size: 50px;
}
.fa-youtube{
    color: #ff0000;
    background: #ffffff;
    padding: 15px;
    font-size: 50px;
}
