*{
    margin: 0;
    padding: 0;
}
/* html, 
body{
    height: 100%;
} */
 html{
    height: 50%;
 }
 body{
    height: inherit;
 }
/* .parent{
    background-color: #584C91;
    color: #ffffff;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 10px solid tomato;
    float: left;
} */
.parent{
    background-color: #584C91;
    color: #ffffff;
    width: 24%;
    margin: 1%;
    padding: 2%;
    border: 0.5em solid tomato;
    float: left;
}