 h1, h3, /*block element */
p, /*block element */
span, /*inline block element */
a /*inline block element */{
    background: teal;
}
h1{
    display: inline-block;
}
span{
    display: block;
}
h3{
    display: none;
}
a.btn{
    background: violet;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
}