h1{
    font-family: serif;
    font-family: sans-serif;
    font-family: monospace;
    font-family: cursive;
    font-family: fantasy;

    /* Serif Fonts */
    font-family: 'Times New Roman';
    font-family: Georgia;
    
    /* Sans Serif Font */
    font-family: 'Arial' sans-serif;
    font-family: Verdana;
    
    /* Monospace Font */
    font-family: 'Courier New';
    
    /* Fantacy Font */
    font-family: papyrus;
    
    /* Cursive Font */
    font-family: 'Brush Script MT';
}