a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
}

a:visited {
    color: brown;
}

a:hover {
    color: rgb(43, 0, 255);
}

a:active {
    color: rgb(255, 0, 208);
    font-weight: bold;
    font-size: 25px;
}

a:focus {
    color: red;
    font-size:16px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
a.btn {
    text-decoration: none;
    background: red;
    border: 2px solid red;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    font-family: sans-serif;
    border-radius: 35px;
}
a.btn:hover{
    background: rgba(255, 0, 0, 0.2);
    color: #000;
}